<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
</head>
<body>
    <a href="{% url 'TVshows'%}">TV Shows</a>
    <a href="{% url 'logout'%}">Logout</a>

    <h1>{{show.title}}</h1>
    <h3>Recommended By: {{show.user.first_name}}</h3>

    <h3> <strong>Network:</strong> {{show.network}}</h3>

    <h3><strong>Release Date:</strong> {{show.releaseDate}}</h3>

    <h3><strong>{{show.user.first_name}} Comments</strong></h3>

    <p>{{show.comments}}</p>
</body>
</html>