<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tvShows.css' %}">
</head>
<body>
 

    <div class="header">
        <h1 class="rec">Edit Show</h1>
        <a class="sh" href="{% url 'TVshows'%}">TV Shows</a>
        <a href="{% url 'logout'%}">Logout</a>
    </div>

    <form action="{%url 'editShow' show.id%}" method="POST">
        {% csrf_token %}
    <table id="newTable">
        <tr>
            <td>Title</td>
            <td><input type="text" name="Etitle" id="" value="{{show.title}}" required></td>
        </tr>
        {% if errors.title %}
            <tr>
                <td></td>
                <td><span class="error">{{ errors.title }}</span></td>
            </tr>
        {% endif %}

        <tr>
            <td>Network</td>
            <td><input type="text" name="Enetwork" id="" value="{{show.network}}" required></td>
        </tr>
        

        <tr>
            <td>Release Date</td>
            <td><input type="date" name="EreleaseDate" id="" value="{{show.releaseDate}}" required></td>
        </tr>
        

        <tr>
            <td>Comments</td>
            <td><textarea name="Ecomments" id="" required>{{show.comments}}</textarea></td>
        </tr>

        {% if errors.comments %}
            <tr>
                <td></td>
                <td><span class="error">{{ errors.comments }}</span></td>
            </tr>
        {% endif %}

    </table>

    <button class="addBtn">Update</button>
</form>
</body>
</html>